/* Author/Vendor/Username fontstyle */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

/* Description/Generat Use fontstyle */
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

/* Heading, Title, Nav font-style */
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    box-shadow: none;
    box-sizing: border-box;
}

:root {
    --main-color: #fff;
    --shades: #005D6C;
    --author-vendor-user: "Roboto Mono", monospace;
    --heading-nav-bar-title: "Jost", sans-serif;
    --general-font: "Manrope", sans-serif
}

body {
    margin: 0;
    padding: 0;
    background-color: #E1D6D6;
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
}

input.input-empty,
textarea.input-empty,
div.mult-select-tag.input-empty {
    box-shadow: 0.1rem 0.1rem 0.1rem 0.1rem #ff0505, -0.1rem -0.1rem 0.1rem 0.1rem #ff0505 !important;
}

/* Toastify custom css */
div.toastify.on.kbs-info.toastify-right.toastify-top::before {
    content: url('../image/info.svg');
    margin-right: 0.5rem;
}

div.toastify.on.kbs-info.toastify-right.toastify-top {
    background-color: var(--main-color) !important;
    box-shadow: 0.05rem 0.05rem 0.1rem 0.1rem rgb(255, 255, 2), -0.05rem -0.05rem 0.1rem 0.1rem rgb(255, 255, 2);
    color: #000000;
    font-weight: 700;
}

div.toastify.on.kbs-error.toastify-right.toastify-top::before {
    content: url('../image/error.svg');
    margin-right: 0.5rem;
}

div.toastify.on.kbs-error.toastify-right.toastify-top {
    background-color: var(--main-color) !important;
    box-shadow: 0.05rem 0.05rem 0.1rem 0.1rem #ff0505, -0.05rem -0.05rem 0.1rem 0.1rem #ff0505;
    color: #000000;
    font-weight: 700;
}

div.toastify.on.kbs-success.toastify-right.toastify-top::before {
    content: url('../image/success.svg');
    margin-right: 0.5rem;
}

div.toastify.on.kbs-success.toastify-right.toastify-top {
    background-color: var(--main-color) !important;
    box-shadow: 0.05rem 0.05rem 0.1rem 0.1rem #2bff00, -0.05rem -0.05rem 0.1rem 0.1rem #2bff00;
    color: #000000;
    font-weight: 700;
}

div.swal2-actions button.swal2-confirm:hover {
    background-color: transparent;
    color: #7066e0;
    border: 1px dashed #000000;
    transition: all .4s ease;
}

div.swal2-actions button.swal2-deny:hover {
    background-color: transparent;
    color: #dc3741;
    border: 1px dashed #000000;
    transition: all .4s ease;
}

div.swal2-actions button.swal2-cancel:hover {
    background-color: transparent;
    color: #6e7881;
    border: 1px dashed #000000;
    transition: all .4s ease;
}

nav {
    background-color: #fff;
    padding: 0.6rem 0;
    height: max-content;
    position: sticky;
    top: 0;
    z-index: 10000;
    box-shadow: 0.1rem 0rem 0.2rem 0.01rem #000000;
}


a.nav-logo {
    text-decoration: none;
    color: #000000;
}

a.nav-logo h2 {
    font-family: var(--heading-nav-bar-title);
}

a.nav-logo i.fa-lightbulb {
    font-size: 1.7rem;
    color: var(--shades);
    font-weight: 200;
    margin-right: 0.4rem;
}

nav div.search-bar {
    border: 1px solid var(--shades);
    width: 25rem;
    font-family: var(--author-vendor-user);

}

nav div.search-bar select {
    color: var(--shades);
    padding: 0.6rem 0.3rem 0.6rem 0.3rem;
}

nav div.search-bar input[type='text'] {
    border-left: 1px solid #000000;
    padding: 0.6rem;
    font-family: var(--author-vendor-user);
}

nav div.search-bar i.fa-magnifying-glass {
    position: relative;
    right: 0;
    top: 0;
    bottom: 0;
    left: 1rem;
    cursor: pointer;
    color: var(--shades);
}


nav div.main-nav-container ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav div.main-nav-container ul li {
    float: left;
}

nav div.main-nav-container ul li a {
    margin-right: 2rem;
    text-decoration: none;
    font-family: var(--heading-nav-bar-title);
    color: #000000;
    position: relative;
}

nav div.main-nav-container ul li a:hover {
    color: var(--shades);
    transition: all 0.5s;
}

nav div.main-nav-container ul li a i {
    font-size: 1.3rem;
}


nav div.main-nav-container ul li a i.fa-cart-shopping:hover {
    color: #3b5998;
    transition: all 0.5s;
}

nav div.main-nav-container ul li a i.fa-heart:hover {
    color: #F02F2F;
    transition: all 0.5s;
}

nav div.main-nav-container ul li a i.fa-user:hover {
    color: var(--shades);
    transition: all 0.5s;
}

nav small.cart-count,
nav small.favourite-count {
    position: absolute;
    top: -10px;
    right: -10px;
    min-width: 1rem;
    width: max-content;
    height: 1rem;
    font-size: 10px;
    background-color: var(--shades);
    border-radius: 50%;
    color: white;
    padding: 0 0.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}


main {
    padding: 2rem;
}

form.login-form,
form.register-form {
    width: 35rem;
    background-color: #FFFFF0;
    border-radius: 1rem;
    box-shadow: 0rem 0rem 0.5rem 0.1rem #000000;
    margin: 0 auto;
    padding: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

form.login-form div.logo,
form.register-form div.logo {
    display: flex;
    justify-content: center;
    margin-bottom: 4rem;
}

form.login-form h4,
form.register-form h4 {
    font-family: var(--heading-nav-bar-title);
    text-align: center;
    margin-bottom: 2rem;
}

form.login-form label,
form.register-form label {
    font-family: var(--author-vendor-user);
    font-size: 1rem;
}

form.login-form input,
form.register-form input {
    padding: 0.5rem;
    border-bottom: 1px solid var(--shades);
    margin-bottom: 1rem;
    width: 100%;
    font-family: var(--author-vendor-user);
}

form.login-form input:focus,
form.register-form input:focus {
    box-shadow: 0.1rem 0.1rem 0.2rem 0.1rem var(--shades);
}

/* Container for the input and icon */
form.login-form .input-container,
form.register-form .input-container {
    position: relative;
    width: 100%;
}

form.login-form .input-container input,
form.register-form .input-container input {
    padding: 0.5rem;
    border-bottom: 1px solid var(--shades);
    margin-bottom: 1rem;
    width: 100%;
    padding-right: 2rem;
    /* Adjust this to ensure the icon does not overlap text */
}

form.login-form .input-container input:focus,
form.register-form .input-container input:focus {
    box-shadow: 0.1rem 0.1rem 0.2rem 0.1rem var(--shades);
}

form.login-form .input-container i.fa-eye,
form.login-form .input-container i.fa-eye-slash,
form.register-form .input-container i.fa-eye,
form.register-form .input-container i.fa-eye-slash {
    position: absolute;
    top: 40%;
    right: 0.5rem;
    /* Adjust this for icon spacing */
    transform: translateY(-50%);
    cursor: pointer;
    color: var(--shades);
}


form.login-form button[type='submit'],
form.register-form button[type='submit'] {
    margin-top: 1rem;
    height: 2.8rem;
    background-color: var(--shades);
    color: var(--main-color);
    font-weight: 500;
    border-radius: 0.5rem;
}

form.login-form button[type='submit']:hover,
form.register-form button[type='submit']:hover {
    background-color: transparent;
    color: var(--shades);
    border: 1px dashed #000000;
    transition: all .4s ease;
}

form.login-form p,
form.register-form p {
    font-style: var(--general-font);
    margin-top: 2rem;
    font-size: 1rem;
}

form.login-form p a,
form.register-form p a {
    text-decoration: none;
    color: var(--shades);
}

form.login-form p.form-divider,
form.register-form p.form-divider {
    display: flex;
    align-items: center;
    text-align: center;
    margin: 0.8rem 0;
}

form.login-form p.form-divider::before,
form.login-form p.form-divider::after,
form.register-form p.form-divider::before,
form.register-form p.form-divider::after {
    content: "";
    flex: 1;
    border-bottom: 1px solid var(--shades);
}

form.login-form p.form-divider::before,
form.register-form p.form-divider::before {
    margin-right: 1rem;
}

form.login-form p.form-divider::after,
form.register-form p.form-divider::after {
    margin-left: 1rem;
}

form.login-form div.facebook-login,
form.register-form div.facebook-register {
    background-color: #3b5998;
    padding: 0.7rem;
    border-radius: 0.5rem;
    cursor: pointer;
}

form.login-form div.facebook-login a,
form.register-form div.facebook-register a {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    text-decoration: none;
    color: var(--main-color);
}

form.login-form div.facebook-login i.fa-facebook,
form.register-form div.facebook-register i.fa-facebook {
    font-size: 1.5rem;
}

form.login-form div.facebook-login:hover,
form.register-form div.facebook-register:hover {
    background-color: var(--main-color);
    border: 1px dashed #000000;
    transition: all .4s ease;
}

form.login-form div.facebook-login:hover a,
form.register-form div.facebook-register:hover a {
    color: #3b5998 !important;
}

form.login-form div.google-login,
form.register-form div.google-register {
    background-color: #d34836;
    padding: 0.7rem;
    border-radius: 0.5rem;
    cursor: pointer;
}

form.login-form div.google-login a,
form.register-form div.google-register a {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    text-decoration: none;
    color: var(--main-color);
}

form.login-form div.google-login i.fa-google,
form.register-form div.google-register i.fa-google {
    font-size: 1.5rem;
}

form.login-form div.google-login:hover,
form.register-form div.google-register:hover {
    background-color: var(--main-color);
    border: 1px dashed #000000;
    transition: all .4s ease;
}

form.login-form div.google-login:hover a,
form.register-form div.google-register:hover a {
    color: #d34836 !important;
}

section.kbs-book-desc-container {
    background-color: var(--main-color);
    padding: 1rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: row;
    gap: 3rem;
}

section.kbs-book-desc-container div.kbs-book-desc-image img {
    width: 15rem;
    height: 20rem;
    object-fit: cover;
}


section.kbs-book-desc-container div.kbs-book-desc h3.book-title {
    font-size: 2rem;
    font-family: var(--heading-nav-bar-title);
}

section.kbs-book-desc-container div.kbs-book-desc p.author {
    margin: 0;
    font-family: var(--author-vendor-user);
}

section.kbs-book-desc-container div.kbs-book-desc div.star-rating span.rating {
    font-family: var(--author-vendor-user);
}

section.kbs-book-desc-container div.kbs-book-desc h4.book-price,
section.kbs-book-desc-container div.kbs-book-desc div.modal-body h4 {
    font-size: 1.3rem;
    font-family: var(--heading-nav-bar-title);
    margin: 1rem 0;
}

section.kbs-book-desc-container div.kbs-book-desc h4 span.stock,
section.kbs-book-desc-container div.kbs-book-desc div.modal-body small.stock {
    font-family: var(--general-font);
    font-weight: 600;
    font-size: 1rem;
    padding: 0.2rem;
    border: 2px dashed var(--shades);
    border-radius: 0.5rem;
}

section.kbs-book-desc-container div.kbs-book-desc p.book-desc {
    font-size: 1rem;
    font-family: var(--general-font);
}

section.kbs-book-desc-container div.kbs-book-desc div.seller-info {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    margin-bottom: 1rem;
}

section.kbs-book-desc-container div.kbs-book-desc div.seller-info h4.seller {
    font-size: 1rem;
    font-family: var(--author-vendor-user);
    margin: 0;
}

section.kbs-book-desc-container div.kbs-book-desc div.seller-info a.seller-link {
    text-decoration: none;
    color: var(--shades);
    font-size: 1rem;
    font-family: var(--author-vendor-user);
    font-weight: 600;
}

section.kbs-book-desc-container div.kbs-book-desc div.seller-info a.seller-link::after {
    content: '';
    height: 4px;
    width: 0%;
    background-color: var(--shades);
    display: block;
    transition: 0.4s ease-in-out;
}

section.kbs-book-desc-container div.kbs-book-desc div.seller-info a.seller-link:hover::after {
    content: '';
    height: 2px;
    width: 100%;
    background-color: var(--shades);
    display: block;
    transition: 0.4s ease-in-out;
}

section.kbs-book-desc-container div.kbs-book-desc div.kbs-book-desc-button-wrapper {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 1rem;
}

section.kbs-book-desc-container div.kbs-book-desc div.kbs-book-desc-button-wrapper button.kbs-purchase {
    margin-top: 1rem;
    font-family: var(--heading-nav-bar-title);
    font-weight: 600;
    padding: 0.6rem 0;
    width: 20%;
    background-color: var(--shades);
    color: var(--main-color);
    border-radius: 0.5rem;
}

section.kbs-book-desc-container div.kbs-book-desc div.kbs-book-desc-button-wrapper button.kbs-purchase:hover {
    background-color: var(--main-color);
    border: 1px dashed #000000;
    color: var(--shades);
    transition: all .4s ease;
}



section.kbs-book-desc-container div.kbs-book-desc div.kbs-book-desc-button-wrapper i,
section.kbs-book-desc-container div.kbs-book-desc div.kbs-book-desc-button-wrapper i {
    font-size: 1.5rem;
    color: #000000;
    cursor: pointer;
}

section.kbs-book-desc-container div.kbs-book-desc div.kbs-book-desc-button-wrapper i.fa-cart-shopping:hover,
section.kbs-book-desc-container div.kbs-book-desc div.kbs-book-desc-button-wrapperi.fa-cart-shopping:hover {
    color: #3b5998;
    transition: all 0.5s;
}

section.kbs-book-desc-container div.kbs-book-desc div.kbs-book-desc-button-wrapper i.fa-heart:hover {
    color: #F02F2F;
    transition: all 0.5s;
}


section.kbs-book-desc-container div.kbs-book-desc div.modal-header h3 {
    font-family: var(--heading-nav-bar-title);
    font-weight: 600;
    font-size: 1.5rem;
}

section.kbs-book-desc-container div.kbs-book-desc div.modal-body img {
    width: 10rem;
    height: 15rem;
    object-fit: cover;
}

section.kbs-book-desc-container div.kbs-book-desc div.modal-body p.book-author {
    margin-top: 0;
    font-size: 0.9rem;
    font-family: var(--author-vendor-user);
}

section.kbs-book-desc-container div.kbs-book-desc div.modal-body small.stock {
    width: max-content;
}

section.kbs-book-desc-container div.kbs-book-desc div.modal-body label {
    font-family: var(--general-font);
    font-size: 1rem;
    font-weight: 600;
}

section.kbs-book-desc-container div.kbs-book-desc div.modal-body .cart-quantity {
    margin-top: 0.4rem;
}

section.kbs-book-desc-container div.kbs-book-desc div.modal-body .cart-quantity button {
    width: 2.2rem;
    height: 2rem;
    border-radius: 50%;
}

section.kbs-book-desc-container div.kbs-book-descdiv.modal-body .cart-quantity button:hover {
    border: 3px solid var(--shades);
}

section.kbs-book-desc-container div.kbs-book-desc div.modal-footer button {
    font-family: var(--heading-nav-bar-title);
}

section.kbs-book-desc-container div.kbs-book-desc div.modal-footer button.kbs-btn {
    background-color: var(--shades);
    color: var(--main-color);
}

section.kbs-book-desc-container div.kbs-book-desc div.modal-footer button.btn-secondary:hover {
    background-color: var(--main-color);
    border: 1px dashed #000000;
    color: var(--shades);
    transition: all .4s ease;
}

section.kbs-book-desc-container div.kbs-book-desc div.modal-footer button.kbs-btn:hover {
    background-color: var(--main-color);
    border: 1px dashed #000000;
    color: var(--shades);
    transition: all .4s ease;
}


div.denied-card {
    padding: 10rem;
    background-color: var(--main-color);
    border-radius: 1.5rem;
    box-shadow: 0.1rem 0.1rem 0.3rem 0.1rem #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

div.denied-card h4 {
    font-family: var(--author-vendor-user);
    font-weight: 700;
    margin-bottom: 2rem;
}

div.denied-card a {
    padding: 0.5rem 2rem;
    background-color: var(--shades);
    text-decoration: none;
    color: var(--main-color);
    border-radius: 0.5rem;
    font-family: var(--heading-nav-bar-title);
    font-weight: 600;

}

div.denied-card a:hover {
    background-color: var(--main-color);
    border: 1px dashed #000000;
    transition: all .4s ease;
    color: var(--shades);
}

footer {
    background-color: #000000;
    color: var(--main-color);
    font-family: var(--heading-nav-bar-title);
    padding: 2rem;
    width: 100%;
    margin-top: auto;
}

footer div.footer-container {
    display: flex;
    /* align-items: center; */
    justify-content: space-around;
}

footer a.nav-logo {
    text-decoration: none;
    color: var(--main-color);
}

footer a.nav-logo h2 {
    font-family: var(--heading-nav-bar-title);
}

footer a.nav-logo i.fa-lightbulb {
    font-size: 1.7rem;
    color: var(--main-color);
    font-weight: 200;
    margin-right: 0.4rem;
}

footer ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

footer ul li a {
    text-decoration: none;
    color: var(--main-color);
    display: inline-block;
    /* position: relative; */
}


footer ul li a::after {
    content: '';
    height: 4px;
    width: 0%;
    background-color: var(--main-color);
    display: block;
    transition: 0.4s ease-in-out;
}



footer ul li a:hover::after {
    content: '';
    height: 2px;
    width: 100%;
    background-color: var(--main-color);
    display: block;
    transition: 0.4s ease-in-out;
}

footer div.social-links {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 2rem;
}

footer div.social-links a {
    text-decoration: none;
    color: var(--main-color);
}

footer div.social-links i {
    cursor: pointer;
    font-size: 2rem;
}

footer div.social-links i.fa-square-facebook:hover {
    color: #3b5998;
    transition: all 0.4s;
}

footer div.social-links i.fa-instagram:hover {
    color: #DD2A7B;
    transition: all 0.4s;
}

footer div.social-links i.fa-square-x-twitter:hover {
    color: var(--shades);
    transition: all 0.4s;
}

section.copy-right {
    font-family: var(--author-vendor-user);
    background-color: var(--main-color);
    color: var(--shades);
    padding: 0.5rem 0rem;
    text-align: center;
}

@media screen and (max-width: 992px) {
    footer {
        padding: 2rem;
    }

    div.footer-container {
        flex-direction: column;
    }

    div.footer-container div:not(:last-child) {
        margin-bottom: 2rem;
    }
}