/* Author/Vendor/Username fontstyle */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

/* Description/Generat Use fontstyle */
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

/* Heading, Title, Nav font-style */
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    box-shadow: none;
    box-sizing: border-box;
}

:root {
    --main-color: #fff;
    --shades: #005D6C;
    --author-vendor-user: "Roboto Mono", monospace;
    --heading-nav-bar-title: "Jost", sans-serif;
    --general-font: "Manrope", sans-serif
}

body {
    margin: 0;
    background-color: #E1D6D6;

}


nav {
    background-color: #fff;
    padding: 0.6rem 0;
    height: max-content;
    position: sticky;
    /* box-shadow: 0 0.01rem 0.4rem 0.01rem var(--shades); */
}

nav div.main-nav-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
}


a.nav-logo {
    text-decoration: none;
    color: #000000;
}

a.nav-logo h2 {
    font-family: var(--heading-nav-bar-title);
}

a.nav-logo i.fa-lightbulb {
    font-size: 1.7rem;
    color: var(--shades);
    font-weight: 200;
    margin-right: 0.4rem;
}

nav div.search-bar {
    border: 1px solid var(--shades);
    width: 25rem;
    font-family: var(--author-vendor-user);
}

nav div.search-bar select {
    color: var(--shades);
    padding: 0.6rem 0.3rem 0.6rem 0.3rem;
}

nav div.search-bar input[type='text'] {
    border-left: 1px solid #000000;
    padding: 0.6rem;
}

nav div.search-bar i.fa-magnifying-glass {
    position: relative;
    right: 0;
    top: 0;
    bottom: 0;
    left: 1rem;
    cursor: pointer;
    color: var(--shades);
}


nav div.main-nav-container ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav div.main-nav-container ul li {
    float: left;
}

nav div.main-nav-container ul li a {
    margin-right: 2rem;
    text-decoration: none;
    font-family: var(--heading-nav-bar-title);
    color: #000000;
}

main {
    padding: 2rem;
}

form.login-form {
    width: 35rem;
    /* height: 50dvh; */
    background-color: #FFFFF0;
    border-radius: 1rem;
    box-shadow: 0.1rem 0.1rem 0.3rem 0.1rem #000000;
    margin: 0 auto;
    padding: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

form.login-form div.logo {
    display: flex;
    justify-content: center;
    margin-bottom: 4rem;
}

form.login-form h4 {
    font-family: var(--heading-nav-bar-title);
    text-align: center;
    margin-bottom: 2rem;
}

form.login-form label {
    font-family: var(--author-vendor-user);
    font-size: 1rem;
}

form.login-form input {
    padding: 0.5rem;
    border-bottom: 1px solid var(--shades);
    margin-bottom: 1rem;
    width: 100%;
}

form.login-form input:focus {
    box-shadow: 0.1rem 0.1rem 0.2rem 0.1rem var(--shades);
}

/* Container for the input and icon */
form.login-form .input-container {
    position: relative;
    width: 100%;
}

form.login-form .input-container input {
    padding: 0.5rem;
    border-bottom: 1px solid var(--shades);
    margin-bottom: 1rem;
    width: 100%;
    padding-right: 2rem;
    /* Adjust this to ensure the icon does not overlap text */
}

form.login-form .input-container input:focus {
    box-shadow: 0.1rem 0.1rem 0.2rem 0.1rem var(--shades);
}

form.login-form .input-container i.fa-eye,
form.login-form .input-container i.fa-eye-slash {
    position: absolute;
    top: 40%;
    right: 0.5rem;
    /* Adjust this for icon spacing */
    transform: translateY(-50%);
    cursor: pointer;
    color: var(--shades);
}


form.login-form button[type='submit'] {
    background-color: transparent;
    margin-top: 1rem;
    height: 2.8rem;
    background-color: var(--shades);
    color: var(--main-color);
    font-weight: 500;
    border-radius: 0.5rem;
}

form.login-form button[type='submit']:hover {
    background-color: transparent;
    color: var(--shades);
    border: 1px dashed #000000;
    transition: all .4s ease;
}

form.login-form p {
    font-style: var(--general-font);
    margin-top: 2rem;
    font-size: 1rem;
}

form.login-form p a {
    text-decoration: none;
    color: var(--shades);
}

form.login-form p.form-divider {
    display: flex;
    align-items: center;
    text-align: center;
    margin: 0.8rem 0;
}

form.login-form p.form-divider::before,
form.login-form p.form-divider::after {
    content: "";
    flex: 1;
    border-bottom: 1px solid var(--shades);
}

form.login-form p.form-divider::before {
    margin-right: 1rem;
}

form.login-form p.form-divider::after {
    margin-left: 1rem;
}

form.login-form div.facebook-login {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    background-color: #3b5998;
    color: var(--main-color);
    padding: 0.7rem;
    border-radius: 0.5rem;
    cursor: pointer;
}

form.login-form div.facebook-login i.fa-facebook {
    font-size: 1.5rem;
}

form.login-form div.facebook-login:hover {
    background-color: var(--main-color);
    color: #3b5998;
    border: 1px dashed #000000;
    transition: all .4s ease;
}

form.login-form div.google-login {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    background-color: #d34836;
    color: var(--main-color);
    padding: 0.7rem;
    border-radius: 0.5rem;
    cursor: pointer;
}

form.login-form div.google-login:hover {
    background-color: var(--main-color);
    color: #d34836;
    border: 1px dashed #000000;
    transition: all .4s ease;
}

form.login-form div.google-login i.fa-google {
    font-size: 1.5rem;
}