section.kbs-book-container {
    display: flex;
    gap: 1rem;
}

aside.kbs-book-categories {
    width: 17%;
    background-color: var(--main-color);
    padding: 2rem;
    box-shadow: 0.1rem 0.1rem 0.1rem 0.01rem #f2f3f5, -0.1rem -0.1rem 0.1rem 0.01rem #f2f3f5;
    border-radius: 0.5rem;
    min-height: 100dvh;
}

aside.kbs-book-categories h3 {
    text-align: center;
    font-family: var(--heading-nav-bar-title);
    padding-bottom: 1rem;
}

aside.kbs-book-categories ul {
    padding-left: 1.3rem;
}

aside.kbs-book-categories ul li {
    list-style-type: none;
    margin: 0;
    padding-bottom: 0.25rem;
}

aside.kbs-book-categories ul li a {
    text-decoration: none;
    color: #000000;
    font-family: var(--general-font);
    font-size: 1rem;
    font-weight: 700;
    display: inline-block;
}

aside.kbs-book-categories ul li a::after {
    content: '';
    height: 4px;
    width: 0%;
    background-color: var(--main-color);
    display: block;
    transition: 0.4s ease-in-out;
}


aside.kbs-book-categories ul li a:hover {
    color: var(--shades);
}

aside.kbs-book-categories ul li a:hover::after {
    content: '';
    height: 3px;
    width: 100%;
    background-color: var(--shades);
    display: block;
    transition: 0.4s ease-in-out;
}

aside.kbs-book-categories ul li a.active {
    color: var(--shades);
    border-bottom: 3px solid var(--shades);
}

section.kbs-book-listing {
    width: 83%;
}

div.kbs-book-listing-container {
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    overflow-x: hidden;
    overflow-y: auto;
    height: 100dvh;
}

div.kbs-book-card {
    background-color: var(--main-color);
    flex: 0 0 calc(33% - 1rem);
    /* Two cards per row with space for the gap */
    box-shadow: 0.1rem 0.1rem 0.1rem 0.01rem #cbb9b9, -0.1rem -0.1rem 0.1rem 0.01rem #cbb9b9;
    border-radius: 0.5rem;
    max-height: 40rem;
    height: max-content;
    padding: 2rem;
}

div.kbs-book-card-container {
    display: flex;
    justify-content: space-evenly;
    position: relative;
    gap: 0.3rem;
    height: 100%;
}

div.kbs-book-card-container a.book-title {
    text-decoration: none;
    color: #000000;
}

div.kbs-book-card-container a.book-title:hover {
    color: var(--shades);
    transition: all .4s ease;
}


div.kbs-book-card-container h4 {
    font-size: 1.2rem;
    font-family: var(--heading-nav-bar-title);
    width: 12rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

div.kbs-book-card-container div.star-rating span.fa.fa-star.checked {
    color: var(--shades);
}

div.kbs-book-card-container div.star-rating span.rating {
    font-family: var(--general-font);
}



div.kbs-book-card-container p.book-author {
    margin-top: 0.5rem;
    font-size: 1rem;
    font-family: var(--author-vendor-user);
}

div.kbs-book-card-container small.stock {
    font-family: var(--general-font);
    font-weight: 600;
    padding: 0.2rem;
    border: 2px dashed var(--shades);
    border-radius: 0.5rem;
}

div.kbs-book-card-container button.kbs-purchase {
    margin-top: 1rem;
    font-family: var(--heading-nav-bar-title);
    font-weight: 600;
    padding: 0.6rem 0;
    width: 100%;
    background-color: var(--shades);
    color: var(--main-color);
    border-radius: 0.5rem;
}

div.kbs-book-card-container button.kbs-purchase:hover {
    background-color: var(--main-color);
    border: 1px dashed #000000;
    color: var(--shades);
    transition: all .4s ease;
}

div.kbs-book-card-container i {
    font-size: 1.5rem;
    color: #000000;
    cursor: pointer;
}

div.kbs-book-card-container i.fa-cart-shopping:hover {
    color: #3b5998;
    transition: all 0.5s;
}

div.kbs-book-card-container i.fa-heart:hover {
    color: #F02F2F;
    transition: all 0.5s;
}


img.book-image {
    width: 10rem;
    height: 15rem;
    object-fit: cover;
}

div.kbs-book-card-container div.modal-header h3 {
    font-family: var(--heading-nav-bar-title);
    font-weight: 600;
    font-size: 1.5rem;
}

div.kbs-book-card-container div.modal-body p.book-author {
    margin-top: 0;
    font-size: 0.9rem;
}

div.kbs-book-card-container div.modal-body small.stock {
    width: max-content;
}

div.kbs-book-card-container div.modal-body label,
div.kbs-book-card-container div.modal-body .cart-quantity small {
    font-family: var(--general-font);
    font-size: 1rem;
    font-weight: 600;
}

div.kbs-book-card-container div.modal-body .cart-quantity {
    margin-top: 0.4rem;
}

div.kbs-book-card-container div.modal-body .cart-quantity button {
    width: 2.2rem;
    height: 2rem;
    border-radius: 50%;
}

div.kbs-book-card-container div.modal-body .cart-quantity button:hover {
    border: 3px solid var(--shades);
}

@media screen and (max-width: 1640px) {

    div.kbs-book-card {
        flex: 0 0 calc(50% - 1rem);
    }
}

@media screen and (max-width: 1116px) {
    section.kbs-book-container {
        flex-direction: column;
    }

    aside.kbs-book-categories {
        flex-direction: row;
        width: 100%;
        min-height: 50dvh;
    }

    aside.kbs-book-categories ul li {
        float: left;
    }

    aside.kbs-book-categories ul li a {
        font-size: 0.8rem;
    }

    aside.kbs-book-categories ul li::after {
        content: '|';
        margin: 0 0.5rem;
    }

    section.kbs-book-listing {
        flex-direction: row;
        width: 100%;
    }

    /* div.kbs-book-listing-container {
        overflow-x: auto;
        overflow-y: auto;
    } */

    /* div.kbs-book-card {
        flex: 0 0 calc(50% - 1rem);
    } */
}

@media screen and (max-width: 768px) {
    div.kbs-book-card {
        flex: 0 0 100%;
    }
}