/* 
    Home Page CSS starts here
*/
section.kbs-book-container {
    display: flex;
    gap: 1rem;
}

aside.kbs-book-categories {
    width: 17%;
    background-color: var(--main-color);
    padding: 2rem;
    box-shadow: 0.1rem 0.1rem 0.1rem 0.01rem #f2f3f5,
        -0.1rem -0.1rem 0.1rem 0.01rem #f2f3f5;
    border-radius: 0.5rem;
    min-height: 100dvh;
}

aside.kbs-book-categories h3 {
    text-align: center;
    font-family: var(--heading-nav-bar-title);
    padding-bottom: 1rem;
}

aside.kbs-book-categories ul {
    padding-left: 1.3rem;
}

aside.kbs-book-categories ul li {
    list-style-type: none;
    margin: 0;
    padding-bottom: 0.25rem;
}

aside.kbs-book-categories ul li a {
    text-decoration: none;
    color: #000000;
    font-family: var(--general-font);
    font-size: 1rem;
    font-weight: 700;
    display: inline-block;
}

aside.kbs-book-categories ul li a::after {
    content: "";
    height: 4px;
    width: 0%;
    background-color: var(--main-color);
    display: block;
    transition: 0.4s ease-in-out;
}

aside.kbs-book-categories ul li a:hover {
    color: var(--shades);
}

aside.kbs-book-categories ul li a:hover::after {
    content: "";
    height: 3px;
    width: 100%;
    background-color: var(--shades);
    display: block;
    transition: 0.4s ease-in-out;
}

aside.kbs-book-categories ul li a.active {
    color: var(--shades);
    border-bottom: 3px solid var(--shades);
}

section.kbs-book-listing {
    width: 83%;
}

section.kbs-book-listing.empty {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f2f3f5;
    border-radius: 0.5rem;
}

section.kbs-book-listing.empty h3.kbs-book-empty {
    font-family: var(--author-vendor-user);
}

div.kbs-book-listing-container {
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    overflow-x: hidden;
    overflow-y: auto;
    height: 100dvh;
}

div.kbs-book-card-container {
    display: flex;
    justify-content: space-evenly;
    position: relative;
    gap: 0.3rem;
    height: 100%;
}

div.kbs-book-card {
    background-color: var(--main-color);
    flex: 0 0 calc(33% - 1rem);
    /* Two cards per row with space for the gap */
    box-shadow: 0.1rem 0.1rem 0.1rem 0.01rem #cbb9b9,
        -0.1rem -0.1rem 0.1rem 0.01rem #cbb9b9;
    border-radius: 0.5rem;
    max-height: 40rem;
    height: max-content;
    padding: 2rem;
}

div.kbs-book-card-container a.book-title,
div.kbs-favourite-book-card-container a.book-title {
    text-decoration: none;
    color: #000000;
}

div.kbs-book-card-container a.book-title:hover,
div.kbs-favourite-book-card-container a.book-title:hover {
    color: var(--shades);
    transition: all 0.4s ease;
}

div.kbs-book-card-container h4.book-title,
div.kbs-favourite-book-card-container h4 {
    font-size: 1.2rem;
    font-family: var(--heading-nav-bar-title);
    width: 12rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

div.kbs-book-card-container h4.book-title {
    font-size: 1.2rem;
    font-family: var(--heading-nav-bar-title);
}

div.kbs-book-card-container h4 span.original-price,
section.kbs-cart-container h4 span.original-price,
div.kbs-favourite-book-card h4 span.original-price {
    text-decoration: line-through;
}

div.kbs-book-card-container h4 span.discounted-price,
section.kbs-cart-container h4 span.discounted-price,
div.kbs-favourite-book-card h4 span.discounted-price {
    color: var(--shades);
}

div.kbs-book-card-container div.star-rating span.fa.fa-star.checked,
div.kbs-favourite-book-card-container div.star-rating span.fa.fa-star.checked {
    color: var(--shades);
}

div.kbs-book-card-container div.star-rating span.rating,
div.kbs-favourite-card-container div.star-rating span.rating {
    font-family: var(--general-font);
}

div.kbs-book-card-container p.book-author,
div.kbs-cart-book-title p.kbs-book-author,
div.kbs-favourite-book-card-container p.book-author {
    margin-top: 0.5rem;
    font-size: 1rem;
    font-family: var(--author-vendor-user);
}

div.kbs-book-card-container small.stock,
div.kbs-favourite-book-card-container small.stock {
    font-family: var(--general-font);
    font-weight: 600;
    padding: 0.2rem;
    border: 2px dashed var(--shades);
    border-radius: 0.5rem;
}

div.kbs-book-card-container button.kbs-purchase,
div.kbs-favourite-book-card-container button.kbs-purchase {
    margin-top: 1rem;
    font-family: var(--heading-nav-bar-title);
    font-weight: 600;
    padding: 0.6rem 0;
    width: 100%;
    background-color: var(--shades);
    color: var(--main-color);
    border-radius: 0.5rem;
}

div.kbs-book-card-container button.kbs-purchase:hover,
div.kbs-favourite-book-card-container button.kbs-purchase:hover {
    background-color: var(--main-color);
    border: 1px dashed #000000;
    color: var(--shades);
    transition: all 0.4s ease;
}

div.kbs-book-card-container i,
div.kbs-favourite-book-card-container i {
    font-size: 1.5rem;
    color: #000000;
    cursor: pointer;
}

div.kbs-book-card-container i.fa-cart-shopping:hover,
div.kbs-favourite-book-card-container i.fa-cart-shopping:hover {
    color: #3b5998;
    transition: all 0.5s;
}

div.kbs-book-card-container i.fa-heart:hover {
    color: #f02f2f;
    transition: all 0.5s;
}

img.book-image {
    width: 10rem;
    height: 15rem;
    object-fit: cover;
}

div.kbs-book-card-container div.modal-header h3,
div.kbs-favourite-book-card-container div.modal-header h3 {
    font-family: var(--heading-nav-bar-title);
    font-weight: 600;
    font-size: 1.5rem;
}

div.kbs-book-card-container div.modal-body p.book-author,
div.kbs-favourite-card-container div.modal-body p.book-author {
    margin-top: 0;
    font-size: 0.9rem;
}

div.kbs-book-card-container div.modal-body small.stock,
div.kbs-favourite-book-card-container div.modal-body small.stock {
    width: max-content;
}

div.kbs-book-card-container div.modal-body label,
div.kbs-favourite-book-card-container div.modal-body label,
div.kbs-book-card-container div.modal-body .cart-quantity small {
    font-family: var(--general-font);
    font-size: 1rem;
    font-weight: 600;
}

div.kbs-book-card-container div.modal-body .cart-quantity,
div.kbs-favourite-book-card-container div.modal-body .cart-quantity {
    margin-top: 0.4rem;
}

div.kbs-book-card-container div.modal-body .cart-quantity button,
div.kbs-favourite-book-card-container div.modal-body .cart-quantity button {
    width: 2.2rem;
    height: 2rem;
    border-radius: 50%;
}

div.kbs-book-card-container div.modal-body .cart-quantity button:hover,
div.kbs-favourite-book-card-container div.modal-body .cart-quantity button:hover {
    border: 3px solid var(--shades);
}

div.kbs-book-card-container div.modal-footer button,
div.kbs-favourite-book-card-container div.modal-footer button {
    font-family: var(--heading-nav-bar-title);
}

div.kbs-book-card-container div.modal-footer button.kbs-btn,
div.kbs-favourite-book-card-container div.modal-footer button.kbs-btn {
    background-color: var(--shades);
    color: var(--main-color);
}

div.kbs-book-card-container div.modal-footer button.btn-secondary:hover,
div.kbs-favourite-book-card-container div.modal-footer button.btn-secondary:hover {
    background-color: var(--main-color);
    border: 1px dashed #000000;
    color: var(--shades);
    transition: all 0.4s ease;
}

div.kbs-book-card-container div.modal-footer button.kbs-btn:hover,
div.kbs-favourite-book-card-container div.modal-footer button.kbs-btn:hover {
    background-color: var(--main-color);
    border: 1px dashed #000000;
    color: var(--shades);
    transition: all 0.4s ease;
}

/* 
    Home Page CSS ends here
*/

/* 
    Cart Page CSS starts here
*/

section.kbs-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--main-color);
    padding: 1rem 2rem;
    border-radius: 0.5rem;
}

section.kbs-header h3,
section.kbs-header h4 {
    font-size: 1.2rem;
    font-family: var(--heading-nav-bar-title);
}

section.kbs-header h3 i.fa-solid.fa-heart {
    color: #f02f2f;
}

section.kbs-header div.kbs-link-container h3 a {
    text-decoration: none;
    color: #000000;
}

section.kbs-header div.kbs-link-container i.fa-solid.fa-arrow-right,
section.kbs-header div.kbs-link-container i.fa-solid.fa-arrow-left {
    border: 2px solid var(--shades);
    color: var(--shades);
    padding: 0.5rem 0.6rem;
    font-size: 1rem;
    border-radius: 50%;
}

section.kbs-header div.kbs-link-container i.fa-solid.fa-arrow-right:hover,
section.kbs-header div.kbs-link-container i.fa-solid.fa-arrow-left:hover {
    border: 2px dashed var(--shades);
    transition: all 1s ease;
}

section.kbs-header div.kbs-link-container i.fa-solid.fa-x {
    border: 2px solid red;
    color: red;
    padding: 0.5rem 0.6rem;
    font-size: 1rem;
    border-radius: 50%;
}

section.kbs-header div.kbs-link-container i.fa-solid.fa-x:hover {
    border: 2px dashed red;
    transition: all 1s ease;
}

section.kbs-header div.kbs-link-container h3 {
    color: red;
    cursor: pointer;
}

section.kbs-header div.kbs-link-container {
    display: flex;
    justify-content: space-around;
    gap: 2rem;
    align-items: center;
}

section.kbs-cart-empty,
section.kbs-favourite-empty {
    margin-top: 1rem;
    height: 100dvh;
    background-color: #f2f3f5;
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

section.kbs-cart-empty h3,
section.kbs-favourite-empty h3 {
    font-family: var(--heading-nav-bar-title);
    color: var(--shades);
}

section.kbs-main-cart-container {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    margin-top: 1rem;
}

section.kbs-cart-container {
    width: 80%;
    display: flex;
    flex-direction: column;
}

div.kbs-cart-card {
    width: 100%;
    background-color: var(--main-color);
    padding: 1rem 2rem;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 1rem;
    margin-bottom: 1rem;
}

div.kbs-cart-card h3.kbs-cart-serial-number {
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

div.kbs-cart-card div.kbs-cart-book-image img {
    width: 8rem;
    height: 13rem;
    object-fit: cover;
}

div.kbs-cart-card div.kbs-cart-book-title h3,
div.kbs-cart-card div.kbs-cart-book-quantity h3,
div.kbs-cart-card div.kbs-cart-book-price h3,
div.kbs-cart-card div.kbs-cart-book-subtotal-price h3,
section.kbs-address-container div.kbs-address-card h4 {
    font-size: 1.2rem;
    text-align: center;
    background-color: #f2f3f5;
    padding: 0.5rem 0.8rem;
    margin-bottom: 1rem;
    border-radius: 1rem;
}

div.kbs-cart-card div.kbs-cart-book-title h4,
div.kbs-cart-card div.kbs-cart-book-price h4,
div.kbs-cart-card div.kbs-cart-book-subtotal-price h4 {
    margin: 0;
    padding: 0;
    font-size: 1.2rem;
    font-family: var(--heading-nav-bar-title);
    width: 12rem;
    word-break: break-all;
}

div.kbs-cart-card div.kbs-cart-book-price h4,
div.kbs-cart-card div.kbs-cart-book-subtotal-price h4 {
    margin-top: 1.5rem;
    text-align: center;
}

div.kbs-cart-card div.kbs-cart-book-quantity small {
    font-family: var(--general-font);
    font-size: 1rem;
    font-weight: 600;
}

div.kbs-cart-card div.kbs-cart-book-quantity {
    text-align: center;
}

div.kbs-cart-card div.kbs-cart-book-quantity button {
    width: 2.2rem;
    height: 2rem;
    border-radius: 50%;
}

div.kbs-cart-card div.kbs-cart-book-quantity button:hover {
    border: 3px solid var(--shades);
}

div.kbs-cart-card i.fa-solid.fa-trash {
    margin-top: 3rem;
    font-size: 1.2rem;
    background-color: #f02f2f;
    color: var(--main-color);
    padding: 1rem 1.2rem;
    border-radius: 50%;
    cursor: pointer;
}

div.kbs-cart-card i.fa-solid.fa-check {
    margin-top: 3rem;
    font-size: 1.2rem;
    background-color: var(--shades);
    color: var(--main-color);
    padding: 1rem 1.2rem;
    border-radius: 50%;
    cursor: pointer;
    display: none;
    margin-right: 1rem;
}

div.kbs-cart-card i.fa-solid.fa-trash:hover {
    background-color: var(--main-color);
    border: 1px dashed #f02f2f;
    color: #f02f2f;
    transition: all 0.4s ease;
}

div.kbs-cart-card i.fa-solid.fa-check:hover {
    background-color: var(--main-color);
    border: 1px dashed var(--shades);
    color: var(--shades);
    transition: all 0.4s ease;
}

aside.kbs-cart-summary-container {
    width: 20%;
    background-color: var(--main-color);
    padding: 1rem 2rem;
    border-radius: 0.5rem;
    height: max-content;
}

aside.kbs-cart-summary-container div.kbs-cart-summary h3,
aside.kbs-order-container div.kbs-order-summary h3,
section.kbs-order-detail-main-container section.kbs-order-detail-container section.kbs-order-book-details h3 {
    font-family: var(--heading-nav-bar-title);
    font-weight: 700;
    text-align: center;
}

aside.kbs-cart-summary-container div.kbs-cart-summary div.kbs-cart-book-details,
aside.kbs-cart-summary-container div.kbs-cart-summary div.kbs-cart-book-cost,
aside.kbs-cart-summary-container div.kbs-cart-summary div.kbs-cart-book-delivery-cost,
aside.kbs-cart-summary-container div.kbs-cart-summary div.kbs-cart-book-total-cost,
aside.kbs-order-container div.kbs-order-summary div.kbs-order-book-details,
aside.kbs-order-container div.kbs-order-summary div.kbs-order-book-cost,
aside.kbs-order-container div.kbs-order-summary div.kbs-order-book-delivery-cost,
aside.kbs-order-container div.kbs-order-summary div.kbs-order-book-total-cost,
section.kbs-order-detail-main-container section.kbs-order-detail-container section.kbs-order-book-details div.kbs-book-details,
section.kbs-order-detail-main-container section.kbs-order-detail-container section.kbs-order-book-details div.kbs-book-cost,
section.kbs-order-detail-main-container section.kbs-order-detail-container section.kbs-order-book-details div.kbs-book-delivery-cost,
section.kbs-order-detail-main-container section.kbs-order-detail-container section.kbs-order-book-details div.kbs-book-total-cost {
    display: flex;
    justify-content: space-between;
}

aside.kbs-cart-summary-container div.kbs-cart-summary div.kbs-cart-book-details h5,
aside.kbs-cart-summary-container div.kbs-cart-summary div.kbs-cart-book-details span.quantity,
aside.kbs-order-container div.kbs-order-summary div.kbs-order-book-details h5,
aside.kbs-order-container div.kbs-order-summary div.kbs-order-book-details span.quantity,
section.kbs-order-detail-main-container section.kbs-order-detail-container section.kbs-order-book-details div.kbs-book-details h5,
section.kbs-order-detail-main-container section.kbs-order-detail-container section.kbs-order-book-details div.kbs-book-details span.quantity {
    font-size: 1rem;
    margin-top: 1.3rem;
}

aside.kbs-cart-summary-container div.kbs-cart-summary div.kbs-cart-book-cost h5,
aside.kbs-cart-summary-container div.kbs-cart-summary div.kbs-cart-book-delivery-cost h5,
aside.kbs-cart-summary-container div.kbs-cart-summary div.kbs-cart-book-total-cost h5,
aside.kbs-order-container div.kbs-order-summary div.kbs-order-book-cost h5,
aside.kbs-order-container div.kbs-order-summary div.kbs-order-book-delivery-cost h5,
aside.kbs-order-container div.kbs-order-summary div.kbs-order-book-total-cost h5,
section.kbs-order-detail-main-container section.kbs-order-detail-container section.kbs-order-book-details div.kbs-book-cost h5,
section.kbs-order-detail-main-container section.kbs-order-detail-container section.kbs-order-book-details div.kbs-book-delivery-cost h5,
section.kbs-order-detail-main-container section.kbs-order-detail-container section.kbs-order-book-details div.kbs-book-total-cost h5 {
    font-size: 1rem;
}

aside.kbs-cart-summary-container div.kbs-cart-summary div.kbs-cart-book-total-cost h5,
aside.kbs-order-container div.kbs-order-summary div.kbs-order-book-total-cost h5,
section.kbs-order-detail-main-container section.kbs-order-detail-container section.kbs-order-book-details div.kbs-book-total-cost h5 {
    color: var(--shades);
    font-weight: 700;
}

aside.kbs-cart-summary-container button.kbs-check-out,
aside.kbs-order-container button.kbs-confirm-order,
section.kbs-order-detail-main-container section.kbs-order-detail-container section.kbs-order-book-details button {
    background-color: var(--shades);
    padding: 0.5rem 2rem;
    font-family: var(--heading-nav-bar-title);
    font-size: 1.2rem;
    color: var(--main-color);
    margin-top: 1rem;
    display: block;
    margin: auto;
    margin-top: 1rem;
    border-radius: 0.5rem;
}

section.kbs-order-detail-main-container section.kbs-order-detail-container section.kbs-order-book-details button.kbs-cancel-order {
    background-color: #f02f2f;
}

aside.kbs-cart-summary-container button.kbs-check-out:hover,
aside.kbs-order-container button.kbs-confirm-order:hover,
section.kbs-order-detail-main-container section.kbs-order-detail-container section.kbs-order-book-details button.kbs-confirm-order:hover {
    background-color: var(--main-color);
    color: var(--shades);
    border: 1px dashed var(--shades);
    transition: all 0.4s ease;
}

section.kbs-order-detail-main-container section.kbs-order-detail-container section.kbs-order-book-details button.kbs-cancel-order:hover {
    background-color: var(--main-color);
    color: #f02f2f;
    border: 1px dashed #f02f2f;
    transition: all 0.4s ease;
}

/* 
    Cart Page CSS ends here
*/

/* 
    Favourite page css starts here
*/
section.kbs-favourite-listing-container {
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin-top: 1rem;
}

div.kbs-favourite-book-card-container {
    display: flex;
    justify-content: space-evenly;
    position: relative;
    gap: 0.3rem;
    height: 100%;
    margin-top: 1.5rem;
}

div.kbs-favourite-book-card {
    background-color: var(--main-color);
    flex: 0 0 calc(25% - 1rem);
    /* Two cards per row with space for the gap */
    box-shadow: 0.1rem 0.1rem 0.1rem 0.01rem #cbb9b9,
        -0.1rem -0.1rem 0.1rem 0.01rem #cbb9b9;
    border-radius: 0.5rem;
    max-height: 40rem;
    height: max-content;
    padding: 2rem;
    position: relative;
}

div.kbs-favourite-book-card i.fa-solid.fa-x {
    position: absolute;
    top: 10px;
    right: 15px;
    background-color: #f2f3f5;
    padding: 0.6rem 0.8rem;
    border-radius: 50%;
    cursor: pointer;
}

div.kbs-favourite-book-card i.fa-solid.fa-x:hover {
    background-color: var(--shades);
    color: var(--main-color);
    transition: all 0.4s ease;
}

/* 
    Favourite Page CSS ends here
*/

/* 
    Checkout Page CSS starts here
*/
section.kbs-checkout-main-container {
    display: flex;
    gap: 1rem;
    margin-top: 1rem;
}

section.kbs-checkout-addresspayment-container {
    width: 70%;
}

section.kbs-checkout-addresspayment-container i.fa-solid.fa-plus {
    background-color: var(--shades);
    color: var(--main-color);
    padding: 0.5rem;
    font-size: 1.2rem;
    border-radius: 50%;
    cursor: pointer;
}

section.kbs-checkout-addresspayment-container i.fa-solid.fa-plus:hover {
    background-color: var(--main-color);
    border: 1px dashed #000000;
    color: var(--shades);
    transition: all 0.4s ease;
}

section.kbs-checkout-addresspayment-container section.kbs-address-container,
section.kbs-checkout-addresspayment-container section.kbs-payment-container {
    background-color: var(--main-color);
    padding: 1rem;
    border-radius: 0.5rem;
    font-size: 1rem;
    width: 100%;
}

section.kbs-checkout-addresspayment-container section.kbs-address-container h3,
section.kbs-checkout-addresspayment-container section.kbs-payment-container h3,
aside.kbs-order-container h3 {
    font-size: 1.5rem;
    font-family: var(--heading-nav-bar-title);
    font-weight: 700;
}

section.kbs-checkout-addresspayment-container section.kbs-address-container h4.address-warning {
    font-size: 1rem;
    font-family: var(--heading-nav-bar-title);
    font-weight: 700;
    color: #f02f2f;
}

section.kbs-checkout-addresspayment-container section.kbs-address-container form {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 1rem;
    background-color: #f2f3f5;
    border-radius: 1rem;
    margin-top: 1rem;
}

section.kbs-checkout-addresspayment-container section.kbs-address-container form label,
section.kbs-checkout-addresspayment-container section.kbs-address-container form input {
    font-family: var(--general-font);
    font-weight: 600;
}

section.kbs-checkout-addresspayment-container section.kbs-address-container form input[type="text"],
section.kbs-checkout-addresspayment-container section.kbs-address-container form input[type="number"] {
    padding: 0.5rem;
    margin-bottom: 1rem;
    border-radius: 0.5rem;
}

section.kbs-checkout-addresspayment-container section.kbs-address-container form input[type="text"]:focus,
section.kbs-checkout-addresspayment-container section.kbs-address-container form input[type="number"]:focus {
    box-shadow: 0.1rem 0.1rem 0.3rem 0.01rem var(--shades);
}

section.kbs-checkout-addresspayment-container section.kbs-address-container form button {
    background-color: var(--shades);
    padding: 0.7rem 2rem;
    color: var(--main-color);
    font-family: var(--general-font);
    font-weight: 600;
    border-radius: 0.5rem;
}

section.kbs-checkout-addresspayment-container section.kbs-address-container form button:hover {
    background-color: var(--main-color);
    border: 1px dashed #000000;
    color: var(--shades);
    transition: all 0.4s ease;
}

section.kbs-checkout-addresspayment-container section.kbs-address-container div.kbs-address-card {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: 1rem;
    box-shadow: 0.1rem 0.1rem 0.3rem 0.01rem var(--shades),
        -0.1rem 0.1rem 0.3rem 0.01rem var(--shades);
    padding: 1rem;
    border-radius: 0.5rem;
}

section.kbs-checkout-addresspayment-container section.kbs-address-container div.kbs-address-card div {
    flex: 0 0 calc(20% - 1rem);
    text-align: center;
}

section.kbs-checkout-addresspayment-container section.kbs-address-container form div.round+h3 {
    font-family: var(--general-font);
    font-weight: 500;
    font-size: 1rem;
    margin: 0;
}

section.kbs-checkout-addresspayment-container section.kbs-address-container div.kbs-address-card div.round,
section.kbs-checkout-addresspayment-container section.kbs-address-container form div.round,
section.kbs-checkout-addresspayment-container section.kbs-payment-container div.kbs-payment-card div.round {
    position: relative;
    margin: auto 0;
}

section.kbs-checkout-addresspayment-container section.kbs-address-container div.kbs-address-card div.round label,
section.kbs-checkout-addresspayment-container section.kbs-address-container form div.round label.checkbox,
section.kbs-checkout-addresspayment-container section.kbs-payment-container div.kbs-payment-card div.round label {
    background-color: #fff;
    border: 1px solid var(--shades);
    border-radius: 50%;
    cursor: pointer;
    height: 28px;
    left: 0;
    position: absolute;
    top: 0;
    width: 28px;
}

section.kbs-checkout-addresspayment-container section.kbs-address-container div.kbs-address-card div.round label:after,
section.kbs-checkout-addresspayment-container section.kbs-address-container form div.round label.checkbox:after,
section.kbs-checkout-addresspayment-container section.kbs-payment-container div.kbs-payment-card div.round label:after {
    border: 2px solid #fff;
    border-top: none;
    border-right: none;
    content: "";
    height: 6px;
    left: 7px;
    opacity: 0;
    position: absolute;
    top: 8px;
    transform: rotate(-45deg);
    width: 12px;
}

section.kbs-checkout-addresspayment-container section.kbs-address-container div.kbs-address-card div.round input[type="checkbox"],
section.kbs-checkout-addresspayment-container section.kbs-address-container form div.round input[type="checkbox"],
section.kbs-checkout-addresspayment-container section.kbs-payment-container div.kbs-payment-card div.round input[type="checkbox"] {
    visibility: hidden;
}

section.kbs-checkout-addresspayment-container section.kbs-address-container div.kbs-address-card div.round input[type="checkbox"]:checked+label,
section.kbs-checkout-addresspayment-container section.kbs-address-container form div.round input[type="checkbox"]:checked+label.checkbox,
section.kbs-checkout-addresspayment-container section.kbs-payment-container div.kbs-payment-card div.round input[type="checkbox"]:checked+label {
    background-color: var(--shades);
    border-color: var(--shades);
}

section.kbs-checkout-addresspayment-container section.kbs-address-container div.kbs-address-card div.round input[type="checkbox"]:checked+label:after,
section.kbs-checkout-addresspayment-container section.kbs-address-container form div.round input[type="checkbox"]:checked+label.checkbox:after,
section.kbs-checkout-addresspayment-container section.kbs-payment-container div.kbs-payment-card div.round input[type="checkbox"]:checked+label:after {
    opacity: 1;
}

section.kbs-checkout-addresspayment-container section.kbs-address-container div.kbs-address-card p {
    font-family: var(--general-font);
    font-weight: 600;
    text-align: center;
}

section.kbs-checkout-addresspayment-container section.kbs-address-container div.kbs-address-card i.fa-solid.fa-trash {
    color: var(--main-color);
    background-color: #f02f2f;
    padding: 1rem;
    border-radius: 0.5rem;
    cursor: pointer;
}

section.kbs-checkout-addresspayment-container section.kbs-payment-container small {
    font-size: 0.8rem;
    font-weight: 500;
    font-family: var(--author-vendor-user);
    color: red;
}

section.kbs-checkout-addresspayment-container section.kbs-payment-container div.kbs-payment-card {
    display: flex;
    gap: 3rem;
    margin-top: 1rem;
    box-shadow: 0.1rem 0.1rem 0.3rem 0.01rem var(--shades),
        -0.1rem 0.1rem 0.3rem 0.01rem var(--shades);
    padding: 1rem;
    border-radius: 0.5rem;
}

section.kbs-checkout-addresspayment-container section.kbs-payment-container div.kbs-payment-card h4 {
    margin: 0;
    font-family: var(--heading-nav-bar-title);

}

aside.kbs-order-container {
    width: 30%;
    background-color: var(--main-color);
    padding: 1rem;
    border-radius: 0.5rem;
    height: max-content;
}

/* 
    Checkout Page CSS ends here
*/

/* 
    Order Detail Page CSS starts here
*/
section.kbs-order-detail-main-container section.kbs-order-tracking-timeline {
    margin-top: 1rem;
    background-color: var(--main-color);
    padding: 1rem;
    border-radius: 0.5rem;
}

section.kbs-order-detail-main-container section.kbs-order-tracking-timeline h3 {
    text-align: center;
    font-size: 1.5rem;
    font-family: var(--heading-nav-bar-title);
    font-weight: 600;
    margin: 1rem 0;
}

section.kbs-order-detail-main-container section.kbs-order-tracking-timeline ul {
    display: flex;
    align-items: center;
    width: 100%;
    margin-top: 4rem;
    position: relative;
}


section.kbs-order-detail-main-container section.kbs-order-tracking-timeline ul li {
    margin: 0 auto;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

section.kbs-order-detail-main-container section.kbs-order-tracking-timeline ul li div.content-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

section.kbs-order-detail-main-container section.kbs-order-tracking-timeline ul li i,
section.kbs-order-detail-main-container section.kbs-order-tracking-timeline ul li i.in-progress {
    padding: 1rem;
    background-color: var(--shades);
    border-radius: 50%;
    color: var(--main-color);
}


section.kbs-order-detail-main-container section.kbs-order-tracking-timeline ul li i.in-complete {
    background-color: #aab5ca;
    color: var(--main-color);
}

section.kbs-order-detail-main-container section.kbs-order-tracking-timeline ul li i.cancelled {
    background-color: #f02f2f;
    color: var(--main-color);
}

section.kbs-order-detail-main-container section.kbs-order-tracking-timeline ul li p {
    margin-top: 0.6rem;
    font-size: 1rem;
    font-family: var(--general-font);
    font-weight: 700;
}

section.kbs-order-detail-main-container section.kbs-order-tracking-timeline ul li::before,
section.kbs-order-detail-main-container section.kbs-order-tracking-timeline ul li::after {
    content: " ";
    position: relative;
    top: -1.2rem;
    left: 0.2rem;
    display: flex;
    width: 100%;
    height: 5px;
    background-color: #aab5ca;
}

section.kbs-order-detail-main-container section.kbs-order-tracking-timeline ul li.complete::before,
section.kbs-order-detail-main-container section.kbs-order-tracking-timeline ul li.complete::after,
section.kbs-order-detail-main-container section.kbs-order-tracking-timeline ul li.in-progress::before,
section.kbs-order-detail-main-container section.kbs-order-tracking-timeline ul li.in-progress::after {
    content: " ";
    position: relative;
    top: -1.2rem;
    left: 0.2rem;
    display: flex;
    width: 100%;
    height: 5px;
    background-color: var(--shades);
}

section.kbs-order-detail-main-container section.kbs-order-tracking-timeline ul li.cancelled::before,
section.kbs-order-detail-main-container section.kbs-order-tracking-timeline ul li.cancelled::after {
    content: " ";
    position: relative;
    top: -1.2rem;
    left: 0.2rem;
    display: flex;
    width: 100%;
    height: 5px;
    background-color: #f02f2f;
}

section.kbs-order-detail-main-container section.kbs-order-tracking-timeline section.kbs-order-tracking-log {
    background-color: #f2f3f5;
    width: 45%;
    margin: 0 auto;
    padding: 1rem;
    border-radius: 0.5rem;
}

section.kbs-order-detail-main-container section.kbs-order-tracking-timeline section.kbs-order-tracking-log p {
    font-size: 1rem;
    font-family: var(--general-font);
    text-align: center;
    margin-bottom: 1rem;
}

section.kbs-order-detail-main-container section.kbs-order-detail-container {
    display: flex;
    gap: 0.5rem;
    margin-top: 1rem;
}

section.kbs-order-detail-main-container section.kbs-order-detail-container h3 {
    font-size: 1.5rem;
    font-family: var(--heading-nav-bar-title);
    font-weight: 600;
}

section.kbs-order-detail-main-container section.kbs-order-detail-container section.kbs-order-details {
    flex: 70%;
    background-color: var(--main-color);
    padding: 1rem;
    border-radius: 0.5rem;
}

section.kbs-order-detail-main-container section.kbs-order-detail-container section.kbs-order-details p {
    padding: 0.5rem;
    font-size: 1.1rem;
    font-family: var(--general-font);
    font-weight: 600;
}

section.kbs-order-detail-main-container section.kbs-order-detail-container section.kbs-order-details p:not(:last-child) {
    border-bottom: 1px solid var(--shades);
}

section.kbs-order-detail-main-container section.kbs-order-detail-container section.kbs-order-details p.total {
    font-weight: 700;
    color: var(--shades);
}

section.kbs-order-detail-main-container section.kbs-order-detail-container section.kbs-order-book-details {
    flex: 30%;
    background-color: var(--main-color);
    padding: 1rem;
    border-radius: 0.5rem;
}

section.kbs-order-tracking {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: var(--main-color);
    padding: 1rem;
    height: 50dvh;
    border-radius: 0.5rem;
}

section.kbs-order-tracking form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
}

section.kbs-order-tracking form h3 {
    font-size: 1.5rem;
    font-weight: 600;
    font-family: var(--heading-nav-bar-title);
    margin-bottom: 1rem;
}


section.kbs-order-tracking form input {
    padding: 0.5rem;
    border-bottom: 1px solid var(--shades);
    margin-bottom: 1rem;
    width: 100%;
    font-family: var(--author-vendor-user);
}

section.kbs-order-tracking input:focus {
    box-shadow: 0.1rem 0.1rem 0.2rem 0.1rem var(--shades);
}

section.kbs-order-tracking button[type="submit"] {
    margin-top: 1rem;
    font-family: var(--heading-nav-bar-title);
    font-weight: 600;
    padding: 0.6rem 0;
    width: 20%;
    background-color: var(--shades);
    color: var(--main-color);
    border-radius: 0.5rem;
}

section.kbs-order-tracking button[type="submit"]:hover {
    background-color: var(--main-color);
    border: 1px dashed #000000;
    color: var(--shades);
    transition: all 0.4s ease;
}

@media screen and (max-width: 1640px) {
    div.kbs-book-card {
        flex: 0 0 calc(50% - 1rem);
    }
}

@media screen and (max-width: 1200px) {
    section.kbs-main-cart-container {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        margin-top: 1rem;
    }

    section.kbs-cart-container {
        width: 100%;
    }

    aside.kbs-cart-summary-container {
        width: 100%;
    }
}

@media screen and (max-width: 1116px) {
    section.kbs-book-container {
        flex-direction: column;
    }

    aside.kbs-book-categories {
        flex-direction: row;
        width: 100%;
        min-height: 50dvh;
    }

    aside.kbs-book-categories ul li {
        float: left;
    }

    aside.kbs-book-categories ul li a {
        font-size: 0.8rem;
    }

    aside.kbs-book-categories ul li::after {
        content: "|";
        margin: 0 0.5rem;
    }

    section.kbs-book-listing {
        flex-direction: row;
        width: 100%;
    }

    div.kbs-book-listing-container {
        height: max-content;
    }

    div.kbs-book-card {
        flex: 0 0 calc(50% - 1rem);
    }
}

@media screen and (max-width: 992px) {
    section.kbs-checkout-main-container {
        display: flex;
        flex-direction: column;
    }

    section.kbs-checkout-addresspayment-container {
        width: 100%;
    }

    section.kbs-checkout-addresspayment-container section.kbs-address-container h3,
    section.kbs-checkout-addresspayment-container section.kbs-payment-container h3 {
        font-size: 1.2rem;
    }

    section.kbs-checkout-addresspayment-container div.kbs-address-card h4,
    section.kbs-checkout-addresspayment-container div.kbs-address-card {
        font-size: 0.8rem;
    }

    aside.kbs-order-container {
        width: 100%;
    }

    section.kbs-cart-container div.kbs-cart-card {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    section.kbs-cart-container div.kbs-cart-card div {
        margin-top: 1rem;
    }
}

@media screen and (max-width: 768px) {
    div.kbs-book-card {
        flex: 0 0 100%;
    }

    section.kbs-order-detail-main-container section.kbs-order-tracking-timeline ul {
        flex-direction: column;
        margin: 4rem 0 0 0;
        padding: 0;
    }

    section.kbs-order-detail-main-container section.kbs-order-tracking-timeline ul li {
        flex-direction: column;
    }


    section.kbs-order-detail-main-container section.kbs-order-tracking-timeline ul li::before,
    section.kbs-order-detail-main-container section.kbs-order-tracking-timeline ul li::after {
        content: " ";
        position: relative;
        top: -1.2rem;
        left: 0;
        display: flex;
        width: 10px;
        height: 100px;
        background-color: #aab5ca;
    }

    section.kbs-order-detail-main-container section.kbs-order-tracking-timeline ul li::after {
        margin-top: 1rem;
    }

    section.kbs-order-detail-main-container section.kbs-order-tracking-timeline ul li.complete::before,
    section.kbs-order-detail-main-container section.kbs-order-tracking-timeline ul li.complete::after,
    section.kbs-order-detail-main-container section.kbs-order-tracking-timeline ul li.in-progress::before,
    section.kbs-order-detail-main-container section.kbs-order-tracking-timeline ul li.in-progress::after {
        content: " ";
        position: relative;
        top: -1.2rem;
        left: 0;
        display: flex;
        width: 10px;
        height: 100px;
        background-color: var(--shades);
    }

    section.kbs-order-detail-main-container section.kbs-order-tracking-timeline ul li.cancelled::before,
    section.kbs-order-detail-main-container section.kbs-order-tracking-timeline ul li.cancelled::after {
        content: " ";
        position: relative;
        top: -1.2rem;
        left: 0;
        display: flex;
        width: 10px;
        height: 100px;
        background-color: #f02f2f;
    }

    section.kbs-order-detail-main-container section.kbs-order-tracking-timeline section.kbs-order-tracking-log {
        width: 100%;
    }

    section.kbs-order-tracking form {
        width: 100%;
    }
}